.ui.borderless.topmenu.menu {
  background: #f5f5f5f5;
  box-shadow: none;
  border: none;
}

.ui.borderless.here.menu {
  box-shadow: none;
  border: none;
}

.Pho{
  background-image: url('https://ju.se/images/18.31b7ae5314e53427efe2f175/1520578556837/Pre-departure.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 500px;
  color: white;
}

Footer {

  background-color: whitesmoke;
  color: black;
  font-size: 14pt;
  font-family: open sans,helvetica neue,Helvetica,Arial,sans-serif;;
  height: height/2;
  width: width/2;

}